* {
    background-color: #010409;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
    font-family: "Verdana";
    text-align: center;
}

#myLabel {
    font-size: 1.5rem;
}

#myInput {
    padding: 20px 10px; 
    font-size: 1rem;
}

#mySubmit {
    font-size: 1rem;
}

#myImage {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}